p,h1,em {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(210, 245, 208);
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding-top: 5em;
    overflow-y: auto;
}