{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ grade_name }} grade</title>
        <link rel="stylesheet" href="{% static 'header_two.css' %}">
        <link rel="stylesheet" href="{% static 'classes.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static 'assets/logo.png' %}">
                    </a>
                </div>
                <div id="tittle">
                    <p>NoteNet</p>
                </div>
            </div>
            <div class="right-side">
                <span class="search-icon"></span>
                <input type="search" class="searchbox">
                <div class="profile">
                    <a href="{% url 'profile' %}">
                        <img class="icon" src="{% static 'assets/pink.png'%}">
                    </a>
               </div>
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="main-part">
            <div class="a">
                <img
                    src="{% static 'assets/a.jpg' %}"
                    class="grade-img"
                >
                <a class="a-text" href="{% url system_url %}"><p>A</p></a>
            </div>

            <div class="b">
                <img
                    src="{% static 'assets/b.jpg' %}"
                    class="grade-img"
                >
                <a class="a-text" href="{% url system_url %}"><p>B</p></a>
            </div>

            <div class="c">
                <img
                    src="{% static 'assets/c.jpg' %}"
                    class="grade-img"
                >
                <a class="a-text" href="{% url system_url %}"><p>C</p></a>
            </div>

            <div class="d">
                <img
                    src="{% static 'assets/d.jpg' %}"
                    class="grade-img"
                >
                <a class="a-text" href="{% url system_url %}"><p>D</p></a>
            </div>
        </div>
    </body>
</html>
