{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ grade_name }} grade</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'classes.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static 'assets/logo.png' %}">
                    </a>
                </div>
                <div id="tittle">
                    <p>NoteNet</p>
                </div>
            </div>
            <div class="right-side">
                <div class="profile">
                    <a href="{% url 'profile' %}">
                        <img class="icon" src="{% static 'assets/profile.png'%}">
                    </a>
               </div>
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <label class="close-menu" for="menu-toggle">&#x2715;</label>
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="main-part">
            <div class="a">
                <a href="{% url system_url %}">
                    <img
                        src="{% static 'assets/a.png' %}"
                        class="grade-img"
                    >
                </a>
            </div>

            <div class="b">
                <a href="{% url system_url %}">
                    <img
                        src="{% static 'assets/b.png' %}"
                        class="grade-img"
                    >
                </a>
            </div>

            <div class="c">
                <a href="{% url system_url %}">
                    <img
                        src="{% static 'assets/c.png' %}"
                        class="grade-img"
                    >
                </a>
            </div>

            <div class="d">
                <a href="{% url networks_url %}">
                    <img
                        src="{% static 'assets/d.png' %}"
                        class="grade-img"
                    >
                </a>
            </div>
        </div>
    </body>
</html>
