{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Materials</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'subjects.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo"><img src="{% static 'assets/logo.png' %}"></div>
                <div id="tittle"><p>NoteNet</p></div>
            </div>
            <div class="right-side">
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>


         <div class="first-row">
            <div class="scripts-box">
                <a class="scripts-text" href="{% url 'nine_scripts'%}">Scripts</a>
            </div>

            <div class="history-box">
                <a class="history-text" href="{% url 'nine_history'%}">History</a>
            </div>

            <div class="literature-box">
                <a class="literature-text" href="{% url 'nine_literature'%}">Literature</a>
            </div>

            <div class="programming-box">
                <a class="programming-text" href="{% url 'nine_programming'%}">Programming</a>
            </div>
        </div>


         <div class="second-row">
            <div class="networkssubj-box">
                <a class="networkssubj-text" href="{% url 'nine_networkssubj'%}">Networks</a>
            </div>

            <div class="electrotechnics-box">
                <a class="electrotechnics-text" href="{% url 'nine_electrotechnics'%}">Electrotechnics</a>
            </div>

            <div class="physycs-box">
                <a class="physycs-text" href="{% url 'nine_physycs'%}">Physycs</a>
            </div>

            <div class="gradivni-box">
                <a class="gradivni-text" href="{% url 'nine_gradivni'%}">Gradivni</a>
            </div>
        </div>


         <div class="third-row">
            <div class="chemistry-box">
                <a class="chemistry-text" href="{% url 'nine_chemistry'%}">Chemistry</a>
            </div>

            <div class="geography-box">
                <a class="geography-text" href="{% url 'nine_geography'%}">Geography</a>
            </div>

            <div class="biology-box">
                <a class="biology-text" href="{% url 'nine_biology'%}">Biology</a>
            </div>

            <div class="maths-box">
                <a class="maths-text" href="{% url 'nine_maths'%}">Maths</a>
            </div>

        </div>

        <div class="forth-row">
            <div class="enterprenuering-box">
                <a class="enterprenuering-text" href="{% url 'nine_enterprenuering'%}">Enterprenuering</a>
            </div>

            <div class="phylosophy-box">
                <a class="phylosophy-text" href="{% url 'nine_phylosophy'%}">Phylosophy</a>
            </div>

            <div class="it-box">
                <a class="it-text" href="{% url 'nine_it'%}">IT</a>
            </div>

            <div class="zbut-box">
                <a class="zbut-text" href="{% url 'nine_zbut'%}">Zbut</a>
            </div>
        </div>

        <div class="fifth-row">
            <div class="english-box">
                <a class="english-text" href="{% url 'nine_english'%}">English</a>
            </div>

            <div class="russian-box">
                <a class="russian-text" href="{% url 'nine_russian'%}">Russian</a>
            </div>

        </div>

        </div>
    </body>
</html>