{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Materials</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'subjects.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo"><img src="{% static 'assets/logo.png' %}"></div>
                <div id="tittle"><p>NoteNet</p></div>
            </div>
            <div class="right-side">
                <a href="{% url 'profile' %}">
                    <img class="icon" src="{% static 'assets/profile.png'%}">
                </a>
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <label class="close-menu" for="menu-toggle">&#x2715;</label>
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="subjects-grid">
            {% for subj in subjects %}
            <div class="subject-box">
                <a class="subject-link" href="{% url 'discipline' grade=grade subject=subj.slug %}">
                    <div class="subject-img-box">
                        <img src="{% static 'assets/disciplines/' %}{{ subj.slug }}.png" alt="{{ subj.name }}" class="subject-img" onerror="this.style.display='none'">
                    </div>
                    <span class="subject-text">{{ subj.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
