p,h1,em {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(210, 245, 208);
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding-top: 5em;
    overflow-y: auto;
}

.main-part{
    display: flex;
    align-items: center;
    gap: 5em;
    justify-content: center;
    flex-direction: row;
    padding-top: 7em;
}

.a{
    background-color: rgb(169, 226, 169);
    padding-right: 8em;
    padding-left: 8em;
    padding-bottom: 13em;
    padding-top: 13em;
}

.b{
    background-color: rgb(169, 226, 169);
    padding-right: 8em;
    padding-left: 8em;
    padding-bottom: 13em;
    padding-top: 13em;
}

.c{
    background-color: rgb(169, 226, 169);
    padding-right: 8em;
    padding-left: 8em;
    padding-bottom: 13em;
    padding-top: 13em;
}

.d{
    background-color: rgb(169, 226, 169);
    padding-right: 8em;
    padding-left: 8em;
    padding-bottom: 13em;
    padding-top: 13em;
}