p,h1,em {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(219, 233, 238);
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding-top: 5em;
    overflow-y: auto;
}

.main-part{
    display: flex;
    align-items: center;
    gap: 6em;
    justify-content: center;
    flex-direction: row;
    padding-top: 10em;
}

.a, .b, .c, .d {
    padding-right: 7em;
    padding-left: 7em;
    padding-bottom: 10em;
    padding-top: 10em;
    position: relative;
    overflow: hidden;
}

.grade-name{
    text-decoration: none;
    font-size: 1.6em;
    color:rgb(0 67 105);
}

.grade-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.67;
}