{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'homepage.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static 'assets/logo.png' %}">
                    </a>
                </div>
                <div id="tittle">
                    <p>NoteNet</p>
                </div>
            </div>
            <div class="right-side">
                <span class="search-icon"></span>
                <input type="search" class="searchbox">
                <div class="profile">
                    <a href="{% url 'profile' %}">
                        <img class="icon" src="{% static 'assets/profile.png'%}">
                    </a>
               </div>
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="welcome">
            <img src="{% static 'assets/homepage_banner.png'%}" class="welcome-img">
            <div class="welcome-text-part">
                {%if profile%}
                    <h1 class="welcome-text">Welcome, {{profile.full_name}}!</h1>
                {%else%}
                    <h1 class="welcome-text">Welcome to NoteNet!</h1>
                {%endif%}
            </div>
        </div>

        <div class="points">
            
        </div>

        <div class="suggestions">
            <div class="sug-box">
                {%if profile%}
                    <a href="{% url 'myclass' %}" class="text">View your class</a>
                {%else%}
                    <a href="{% url 'materials' %}" class="text">View materials</a>
                {%endif%}
            </div>

            <div class="sug-box">
                {%if profile%}
                    <a href="{% url 'addnote' %}" class="text">Add notes</a>
                {%else%}
                    <a href="{% url 'profile' %}" class="text">Create an account</a>
                {%endif%}
            </div>
        </div>

    </body>
</html>