{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Materials</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'materials.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo"><img src="{% static 'assets/logo.png' %}"></div>
                <div id="tittle"><p>NoteNet</p></div>
            </div>
            <div class="right-side">
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="main-part">
            <div class="eight">
                <a href="{% url 'class_eight'%}">8</a>
            </div>

            <div class="nine">
                <a class="nine-text" href="{% url 'class_nine'%}">9</a>
            </div>

            <div class="ten">
                <a class="ten-text" href="{% url 'class_ten'%}">10</a>
            </div>

            <div class="eleven">
                <a class="eleven-text" href="{% url 'class_eleven'%}">11</a>
            </div>

            <div class="twelve">
                <a class="twelve-text" href="{% url 'class_twelve'%}">12</a>
            </div>
        </div>
    </body>
</html>