{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Materials</title>
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'materials.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="left-side">
                <div id="logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static 'assets/logo.png' %}">
                    </a>
                </div>
                <div id="tittle">
                    <p>NoteNet</p>
                </div>
            </div>
            <div class="right-side">
                <span class="search-icon"></span>
                <input type="search" class="searchbox">
                <div class="profile">
                    <a href="{% url 'profile' %}">
                        <img class="icon" src="{% static 'assets/profile.png'%}">
                    </a>
               </div>
               <input type="checkbox" id="menu-toggle">
               <label class="hamburger-label" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
               </label>
               <div class="popup-menu">
                   <a href="{% url 'homepage' %}">Homepage</a>
                   <a href="{% url 'materials' %}">Materials</a>
                   <a href="{% url 'addnote' %}">Add notes</a>
                   <a href="{% url 'myclass' %}">My class</a>
                   <a href="{% url 'profile' %}">My profile</a>
               </div>
            </div>
        </div>

        <div class="choose">
                <p>Choose a grade:</p>
        </div>

        <div class="main-part">
            <!-- 8th Grade -->
            <div class="grade {% if profile.grade_number == 8 %}active-grade{% else %}locked{% endif %}">
                <img 
                    src="{% static 'assets/eight.png' %}" 
                    class="grade-img"
                >
                {% if profile.grade_number == 8 %}
                <a href="{% url 'class_grade' 8 %}">
                {% else %}
                <a href="#" onclick="return false;">
                {% endif %}
                    <p class="grade-name">
                        8th grade
                    </p>
                </a>
            </div>

            <!-- 9th Grade -->
            <div class="grade {% if profile.grade_number == 9 %}active-grade{% else %}locked{% endif %}">
                <img
                    src="{% static 'assets/nine.png' %}"
                    class="grade-img"
                >
                {% if profile.grade_number == 9 %}
                <a class="nine-text" href="{% url 'class_grade' 9 %}">
                {% else %}
                <a class="nine-text" href="#" onclick="return false;">
                {% endif %}
                    <p class="grade-name">
                        9th grade
                    </p>
                </a>
            </div>

            <!-- 10th Grade -->
            <div class="grade {% if profile.grade_number == 10 %}active-grade{% else %}locked{% endif %}">
                <img
                    src="{% static 'assets/ten.png' %}"
                    class="grade-img"
                >
                {% if profile.grade_number == 10 %}
                <a class="ten-text" href="{% url 'class_grade' 10 %}">
                {% else %}
                <a class="ten-text" href="#" onclick="return false;">
                {% endif %}
                    <p class="grade-name">
                        10th grade
                    </p>
                </a>
            </div>

            <!-- 11th Grade -->
            <div class="grade {% if profile.grade_number == 11 %}active-grade{% else %}locked{% endif %}">
                <img
                    src="{% static 'assets/eleven.png' %}"
                    class="grade-img"
                >
                {% if profile.grade_number == 11 %}
                <a class="eleven-text" href="{% url 'class_grade' 11 %}">
                {% else %}
                <a class="eleven-text" href="#" onclick="return false;">
                {% endif %}
                    <p class="grade-name">
                        11th grade
                    </p>
                </a>
            </div>

            <!-- 12th Grade -->
            <div class="grade {% if profile.grade_number == 12 %}active-grade{% else %}locked{% endif %}">
                <img
                    src="{% static 'assets/twelve.png' %}"
                    class="grade-img"
                >
                {% if profile.grade_number == 12 %}
                <a class="twelve-text" href="{% url 'class_grade' 12 %}">
                {% else %}
                <a class="twelve-text" href="#" onclick="return false;">
                {% endif %}
                    <p class="grade-name">
                        12th grade
                    </p>
                </a>
            </div>
        </div>
    </body>
</html>